<!DOCTYPE html>
<html>
	
<head>
	<title>
		SafeHome
	</title>
	
	<!-- Style to create button -->
	<style>
        h1 {
  text-align: center;
  padding: 50px 100px;
}
		.GFG {
			background-color: white;
			border: 2px solid black;
			color: green;
			padding: 5px 10px;
			text-align: center;
			display: inline-block;
			font-size: 30px;
			margin: 50px 50px;
			cursor: pointer;
			text-decoration:none;
		}
        .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
	</style>
</head>

<body>
	<h1 >SafeHome</h1>
	
	<!-- Create a normal link and add CSS property -->
    <div class="center">
	<a href="/Admin" class="GFG">
		Admin
	</a>
    <a href="/User" class="GFG">
		User
	</a>
</div>
</body>

</html>								
