<!DOCTYPE html>
<html>
	
<head>
	<title>
		User
	</title>
	
	<!-- Style to create button -->
	<style>
        h1 {
  text-align: center;
  padding: 50px 100px;
}
		.GFG {
			background-color: white;
			border: 2px solid black;
			color: green;
			padding: 5px 10px;
			text-align: center;
			display: inline-block;
			font-size: 18px;
			margin: 50px 50px;
			cursor: pointer;
			text-decoration:none;
		}
        .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
	</style>
</head>
<h1>Home page for User</h1>
 <div class="center">
<li><a href="/registerUser" class="GFG">Sign up!!</a></li>
<li><a href="/loginUser" class="GFG">Login</a></li>
<li><a href="/logout" class="GFG">Logout</a></li>
</div>